body{
    background-color: rgb(248, 179, 214);
    font-family: sans-serif;
    color: rgb(57, 134, 153);
    
}
html {

}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

